{% extends 'base.html.twig' %}

{% block title %}RAA Berlin{% endblock %}

{% block body %}

    {% include 'blocks/text.html.twig' with {'title': 'REGIONALE ARBEITSSTELLEN FÜR BILDUNG, INTEGRATION UND DEMOKRATIE (RAA) E.V.'} %}
    {% include 'blocks/images.html.twig' with {'title': 'REGIONALE ARBEITSSTELLEN FÜR BILDUNG, INTEGRATION UND DEMOKRATIE (RAA) E.V.'} %}
    {% include 'blocks/overview.html.twig' with {'title': 'REGIONALE ARBEITSSTELLEN FÜR BILDUNG, INTEGRATION UND DEMOKRATIE (RAA) E.V.'} %}
    {% include 'blocks/projects.html.twig' with {'title': 'REGIONALE ARBEITSSTELLEN FÜR BILDUNG, INTEGRATION UND DEMOKRATIE (RAA) E.V.'} %}
    {% include 'layout/slider.html.twig' with {'title': 'REGIONALE ARBEITSSTELLEN FÜR BILDUNG, INTEGRATION UND DEMOKRATIE (RAA) E.V.'} %}




{% endblock %}
