$color-deneme: #009035;
//#TODO : HEADER START
.sidenav {
  display: none;
  height: 150px;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #009035;
  overflow-x: hidden;
  //padding-top: 5px;
  margin-right: 150px;

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }

  ul {
    height: 100px;
    li {
      position: relative;
      color: white;
      width: 150px;
    }

    li:hover {
      color: black;

      ul {
        display: block;
        color: black;
      }
    }

    ul li::marker {
      color: transparent;
    }

    ul {
      position: absolute;
      top: 0;
      left: 150px;
      display: none;
    }
  }

}
.burgerButton {
  background-color: #009035;
  padding: 25px;

  img {
    margin-left: 150px;
    height: 100px;
    width: 100px
  }

  span {
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: white;
    margin-right: 150px
  }
}
//#TODO : HEADER FINISH

//#TODO : BODY START
//.sec1{
//  .secDiv1 {
//    padding: 25px;
//    margin-right: 150px;
//
//    .strRaa {
//      margin-left: 150px;
//      font-size: 40px;
//      font-family: Futura;
//      color: #009035
//    }
//
//   .sec1hr {
//      margin-left: 150px;
//      height: 10px;
//      width: 285px;
//      border-width: 0;
//      background-color: #009035
//    }
//
//    .strRegiole {
//      font-size: 22px;
//      font-family: Futura;
//    }
//
//    div {
//      margin-left: 150px;
//      font-size: 16px;
//      font-family: Futura;
//      margin-top: 18px
//    }
//  }
//}

//.sec3{
//  .sec3div1{
//    padding: 25px;
//    .sec3div1str {
//      margin-left: 150px;font-size: 40px; font-family: Futura; color: #009035
//    }
//    .sec3div2 {
//      margin-left: 150px;
//      strong{
//        font-size: 22px; font-family: Open Sans;
//      }
//
//    }
//  }
//  .row {
//    padding: 25px;margin-left: 150px;margin-right: 150px;
//    .text-center{
//      margin-top: 28px;
//      .jugen1{
//        margin-bottom: 18px
//      }
//      .sec3divimg{
//        position: absolute;left: 40%;top: 23%;
//      }
//      .lorem{
//        color: #009035;
//      }
//    }
//  }
//  .project{
//    padding: 25px;
//    .projectStr{
//      font-size: 40px; font-family: Futura; color: #009035
//    }

//    div{
//      margin-left: 150px;
//      strong{
//        font-size: 22px; font-family: Open Sans;
//      }
//    }
//  }
//}
//.sec4{
//  background-color: #009035;
//  .sec4div1{
//    padding: 25px;margin-left: 150px;margin-right: 150px;
//    .row{
//      margin-top: 35px;
//      .col-sm-4{
//        color: white;
//        img {
//          width: 100%
//        }
//      }
//    }
//  }
//}
//#TODO : BODY FINISH

//#TODO : SLIDER START

//#TODO : SLIDER FINISH

//#TODO : FOOTER START
.sec6{
  background-color: #707070;
  .row {
    padding: 25px;margin-left: 150px;margin-right: 150px;
    .sec6Title{
      margin-top: 16px;
    }
  }
}
//#TODO : FOOTER FINISH

#sfwdt49c7cf {
  background-color: green!important;
}
.owl-stage-outer {
  padding: 34px;
}