.images {
  background-image: linear-gradient(180deg, white 32%, #009035 32%);
  display: flex;
  justify-content: center;

  &__col {
    @include make-col(4);
  }

  @include media-breakpoint-up(sm) {
    &__col {
      @include make-col(4);
    }
  }

  &__title {
    margin-top: 23px;
    strong {
      color: white;
    }
  }
  &__content {
    color: white;
  }
}