.overview {
  &__container {
        padding: 25px;
    &__title{
            margin-left: 150px;font-size: 40px; font-family: Futura; color: #009035
    }
    &__content{
            margin-left: 150px;
      strong{
                font-size: 22px; font-family: Open Sans;
      }
    }
  }
  &__row{
        padding: 25px;margin-left: 150px;margin-right: 150px;
      &__title{
                margin-bottom: 18px;
      }
      &__image{
                position: absolute;left: 40%;top: 25%;
      }
      &__show{
                color: #009035;
      }
  }
  //
  &__projects{
    padding: 25px;
    margin-left: 150px;margin-right: 150px;
    &__title{
            font-size: 40px; font-family: Futura; color: #009035
    }
    &__content{
            margin-left: 150px;
              font-size: 22px; font-family: Open Sans;
    }
  }
}
