.projects {
  background-color: #009035;
  &__container {
    padding: 25px;
    margin-left: 150px;
    margin-right: 150px;
    &__row {
      margin-top: 35px;
      .col-sm-4 {
        color: white;
      }
      &__images {
        width: 100%
      }
    }
  }
}