.text {
  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
    max-width: 1400px;
    &__title {
      margin-top: 40px;
      font-size: 30px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__content {
      font-size: 18px;
    }

  }

}
