.footer {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  padding: 40px 0;

  &__container {
    width: 100%;
    max-width: 1400px;
    display: flex;
  }

  &__col {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    &__col {
      @include make-col(3);
    }
  }

}