.slider{
  &__container{
    padding: 100px;margin-left: 150px;margin-right: 150px;
    &__titler{
      font-size: 22px; font-family: Futura;
    }
    &__theme{
      height: 50%;
      &__image{
        width:80%;position: relative;
      }
    }
  }
}