<section class="images">
    <div class="container">
        <div class="row">
            <div class="images__col center-block text-center">
                <img  src={{ asset('images/MaskGroup1.png') }}>
                <div class="images__title">
                    <strong>UNSER TEAM</strong></div>
                <div class="images__content">consetetyr sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                </div>
            </div>
            <div class="images__col center-block text-center">
                <img src={{ asset('images/MaskGroup2.png') }}>
                <div class="images__title">
                    <strong>SPENDEN</strong></div>
                <div class="images__content">justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanchus est Lorem
                </div>
            </div>
            <div class="images__col center-block text-center">
                <img src={{ asset('images/MaskGroup1.png') }}>
                <div class="images__title">
                    <strong>VERÖFFENTLICHUNGEN</strong></div>
                <div class="images__content">ed diam nonumy eirmod tempor invudunt ut labore et dolore
                </div>
            </div>
        </div>
    </div>
</section>