<section class="overview">
    <div class="overview__container">
        <strong class="overview__container__title">PROJECTÜBERSICHT
        </strong>
        <div class="overview__container__content">
            <strong>
                Hier finden Sie eine Auswahl unserer Angebote und Projekte in Berlin und Heilbronn, damit Sie sich
                einen Eindruck von unserer Arbeit verschaffen können. Für weitere Informationen laden wir Sie ein,
                mit uns Kontakt aufzunehmen.
            </strong>
        </div>
    </div>
    <div class="overview__row row" >
        <div class="col-sm-4 center-block text-center" >
            <div class="overview__row__title">
                <strong>JUGENDARBEIT</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img   src={{ asset('images/protection.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>

        <div class="col-sm-4 center-block text-center">
            <div class="overview__row__title">
                <strong>SPRACHFÖRDERPROGRAMME</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img  src={{ asset('images/friend.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>

        <div class="col-sm-4 center-block text-center">
            <div class="overview__row__title">
                <strong>TEMPOR INVIDUNT UT LABORE</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img id="img2" src={{ asset('images/documenxt.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>
    </div>
    <div class="overview__row row" >
        <div class="col-sm-4 center-block text-center" >
            <div class="overview__row__title">
                <strong>JUGENDARBEIT</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img   src={{ asset('images/protection.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>

        <div class="col-sm-4 center-block text-center">
            <div class="overview__row__title">
                <strong>SPRACHFÖRDERPROGRAMME</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img  src={{ asset('images/friend.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>

        <div class="col-sm-4 center-block text-center">
            <div class="overview__row__title">
                <strong>TEMPOR INVIDUNT UT LABORE</strong>
            </div>
            <div><img src={{ asset('images/Ellipse76.png') }}>
                <div class="overview__row__image" >
                    <img id="img2" src={{ asset('images/documenxt.png') }}></div>
            </div>
            <div >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua <span class="overview__container__show">| mehr lesen</span>
            </div>
        </div>
    </div>

    <div class="overview__projects">
        <div class="overview__projects__title">
            <strong  >PROJEKT -
                JUGENDARBEIT
            </strong>
        </div>
        <div class="overview__projects__content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <br><br>

            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</section>