<section class="projects" >
    <div class="projects__container" >
        <div class="projects__container__row row" >
            <div class="col-sm-4" ><strong>JUGENDARBEIT</strong>
                <div><img class="projects__container__row__images" src="{{ asset('images/Unbenannt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-sm-4" ><strong>SPRACHFÖRDERPROGRAMME</strong>
                <div><img class="projects__container__row__images" src="{{ asset('images/Unbenandnt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-sm-4" ><strong>TEMPOR INVIDUNT UT LABORE</strong>
                <div><img  class="projects__container__row__images" src="{{ asset('images/Unbenannt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
    <div class="projects__container" >
        <div class="projects__container__row row" >
            <div class="col-sm-4" ><strong>JUGENDARBEIT</strong>
                <div><img  class="projects__container__row__images" src="{{ asset('images/Unbenannt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-sm-4" ><strong>SPRACHFÖRDERPROGRAMME</strong>
                <div><img class="projects__container__row__images" src="{{ asset('images/Unbenandnt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-sm-4" ><strong>TEMPOR INVIDUNT UT LABORE</strong>
                <div><img class="projects__container__row__images"  src="{{ asset('images/Unbenannt-1.png') }}" alt="">Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
</section>