<section class="text">

    <div class="text__container">

        <h1 class="text__container__title">RAA Berlin</h1>
        <h2 class="text__container__subtitle">{{ title }}</h2>

        <div class="text__container__content">
            <div>
                Die RAA Berlin (Regionale Arbeitsstellen für Bildung, Integration und Demokratie e.V.) trägt und
                unterstützt
                diskriminierungskritische Partizipationsprojekte in Schule und Schulumfeld und in der Kommune. Seit 1991
                begleiten wir Schulentwicklungsprozesse und kommunale Entwicklungen, beraten Kita- und Schulpersonal
                sowie
                Eltern, Community-Organisationen und Ämter, entwickeln Materialien und führen Fortbildungen durch.
            </div>
            <div>
                Wir unterstützen alle am Bildungsprozess Beteiligten mit gezielten Angeboten. Dazu gehören u.a.
                diversitätsorientierte Organisationsentwicklung, bilinguale Sprachbildungsprogramme, Jugendarbeit an
                Schule,
                Schulmediation, Elterngruppen und pädagogische Lernwerkstätten. Als gemeinnütziger Verein, Träger der
                freien
                Jugendhilfe und Schulentwicklungswerkstatt werden wir durch Stiftungen, öffentliche Mittel und Spenden
                finanziert.
            </div>
            <div>
                Im Kompetenznetzwerk bietet die RAA Berlin Beratung und Begleitung im Sinne einer
                diskriminierungskritischen, diversitätsorientierten Organisationsentwicklung sowie Weiterbildungen und
                Seminare zu diesem Thema. Darüber hinaus begleitet die RAA Berlin die Bereitstellung von
                Unterstützungsformaten für rassismuserfahrenes Fachpersonal.
            </div>
        </div>

    </div>
</section>