<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{#            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">#}
{#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
{#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />            <style>#}

{#                @media screen and (max-height: 111px) {#}
{#                    .sidenav {padding-top: 15px;}#}
{#                    .sidenav a {font-size: 18px;}#}
{#                }#}
{##}
{#            </style>#}
        {% endblock %}
    </head>
    <body>
    {{ include('layout/header.html.twig') }}
    {% block body %}
    {% endblock %}

{#    {{ include('layout/slider.html.twig') }}#}
    {{ include('layout/footer.html.twig') }}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{#        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#                <script>#}
{#            function openNav() {#}
{#                document.getElementById("sidenav").style.display = "block";#}
{#            }#}
{#            function closeNav() {#}
{#                document.getElementById("sidenav").style.display = "none";#}
{#            }#}
{#            $(document).ready(function(){#}

{#                var owl = $('.owl-carousel');#}
{#                owl.owlCarousel({#}
{#                    items:4,#}
{#                    loop:true,#}
{#                    margin:10,#}
{#                    autoplay:true,#}
{#                    autoplayTimeout:3000,#}
{#                    autoplayHoverPause:true#}
{#                });#}
{#                $('.play').on('click',function(){#}
{#                    owl.trigger('play.owl.autoplay',[1000])#}
{#                })#}
{#                $('.stop').on('click',function(){#}
{#                    owl.trigger('stop.owl.autoplay')#}
{#                })#}
{#            });#}
{#        </script>#}
    {% endblock %}
    </body>
</html>
