<section class="footer" >
    <div class="footer__container">
        <div class="footer__col"><strong>ANSCHRIFT</strong>
            <div class="footer__title" ><strong>RAA Berlin</strong></div>
            <div><strong>Boyenstraße 41</strong></div>
            <div><strong>10115 Berlin</strong></div>
            <div><strong>T +49 30 24045-100</strong></div>
            <div><strong>F +49 30 24045-509</strong></div>
        </div>
        <div class="footer__col"><strong>LINKS</strong>
            <div class="footer__title" ><strong>Impressum</strong></div>
            <div><strong>Datebschutz</strong></div>
            <div><strong>Lorem ipsum</strong></div>
            <div><strong>Dolor sit amer</strong></div>
        </div>
        <div class="footer__col"><strong>SERVICE</strong>
                <div class="footer__title" ><strong>Download</strong></div>
                <div><strong>Lorem ipsum</strong></div>
                <div><strong>Dolor sit amer</strong></div>
                <div><strong>Consetetur</strong></div>
        </div>
        <div class="footer__col"><strong>LOREMIPSUM</strong>
            <div class="footer__title" ><strong>Lorem ipsum</strong></div>
            <div><strong>Dolor sit amer</strong></div>
            <div><strong>Consetetur</strong></div>
            <div><strong>Sadipscing elitr</strong></div>
        </div>
    </div>
</section>