<div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        &times;</a>
    <ul style="">
        <li><strong>RAA BERLIN</strong>
            <ul>
                <li>ÜBER UNS</li>
                <li>TEAM</li>
                <li>EINBLICK</li>
                <li>KOOPERATIONEN</li>
                <li>IMPRESSUM</li>
            </ul>
        </li>
        <li><strong>PROJECTE</strong>
            <ul>
                <li>MATERIALLIEN</li>
                <li>DIVERSITATSORIENTIERTE</li>
                <li>ORGANISATIONSENTWICKLUNG</li>
            </ul>
        </li>
        <li><strong>ANGEBOTE</strong></li>
        <li><strong>PUBLIKATIONEN</strong></li>
        <li><strong>KONTAKT</strong></li>
        <li><strong>SUCHE</strong></li>
    </ul>
</div>
<div class="burgerButton" >
    <img   src={{ asset('images/logo.png') }}>
    <span  onclick="openNav()">
    &#9776; </span>
</div>
