<section class="slider">
    <div class="slider__container">
        <strong class="slider__container__title">
            Unsere strategşscgeb Partner*innen
        </strong>
        <div id="owl-demo" class="slider__container__theme owl-carousel owl-theme">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
            <img class="slider__container__theme__image" src="{{ asset('images/Unbenannt-1.png') }}">
        </div>
    </div>
</section>